.footer {
    background-color: #f8f9fa;
    padding: 40px 20px;
    text-align: left;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-logo {
    flex: 1;
    max-width: 250px;
  }
  
  .footer-logo-img {
    width: 60px;
    height: auto;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icon {
    margin-right: 15px;
    font-size: 20px;
    color: #6c757d;
    text-decoration: none;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    flex: 2;
  }
  
  .footer-links div {
    margin: 0 20px;
  }
  
  h2 {
    font-size: 16px;
    color: #495057;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li a {
    text-decoration: none;
    color: #6c757d;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
  }